.tab{
	-fx-font-size: 15px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.table-row-cell {
    -fx-cell-size: 50px;
    -fx-font-size: 14px;
}
#current{
	-fx-font-size: 220px;
}
#tracking{
	-fx-font-size:20px;
}